<!DOCTYPE html>
<html ng-app="<%= ngname %>">

<head>
    <title><%= name %></title>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="scripts/app.js"></script>
     <script src="scripts/templates.js"></script>
    <script src="scripts/directives/testDirective.js"></script>
    <script src="scripts/services/testService.js"></script>
    <script src="scripts/factory/testFactory.js"></script>
</head>

<body>
    <h1><center><u>Test Module</u></center></h1>
    <test-directive></test-directive>
</body>

</html>
